* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.todo {
    background-color: #ffffff;
    color:#000000;
}



.todo.dark-mode  {
    background-color:#333333;
    color:  #ffffff;
  
}
.todo.dark-mode input {
    background-color:#333333;
    color:  #ffffff;
  
}

.container1 {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #104176, #74e0d5);
  
    
}
.dark{
    background: #000;
    height: 20px;
    width:20px ;
    border-radius: 50%;
    margin-bottom: 12px;
}
.light{
    background: #ffffff;
    height: 20px;
    width:20px ;
    border-radius: 50%;
    margin-bottom: 12px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 8px;
    box-shadow: -11px 0px 77px black;
    display: flex;
    flex-direction: column;
}


.todo h2 {
    color: #002765;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #0ebbff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    margin-left: 10px;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    border-bottom:1px solid black ;
    
}

.btn1 {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(281deg,#104176,#74e0d5);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}


ul li {
    list-style: none;
    font-size: 22px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-out;
}


ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:32px ;
    color: #ff0202;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
ul li:hover{
   border-bottom: 5px solid rgb(200, 0, 255);
   border-radius: 20px;
   transform: scale(1.05);
}
ul li span:hover{
   /* background: #000; */
   transform: rotate(-180deg);
}

